<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${menu.name}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${menus} and ${menus.size()}">no cheeses :(</p>


<table class="table">

    <tr>
        <th>Name</th>
    </tr>

    <tr th:each="menu : ${menus}">
        <a href = "'/menu/view/' + ${menu.id} "><td th:text="${menu.name}"></td></a>
    </tr>

</table>
<a href="/menu/add">Add menu</a>

</body>
</html>